.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  width: 150px;
  height: 40px;
  border-style: none;
  color: var(--bg-text);
  font-size: 1.2rem;
  border-radius: 20px;;
  cursor: pointer;
  box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.5);
}