:root {
  --bg-primary: #2f3640;
  --bg-secondary: #2c3e50;
  --bg-terciary: #273849;
  --bg-text: #fff;
}

/* Global Styles */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  width: 150px;
  height: 40px;
  border-style: none;
  color: var(--bg-text);
  font-size: 1.2rem;
  border-radius: 20px;;
  cursor: pointer;
  box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}